:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark-blue: #101828;
    --white: #f5f5f5;
    --gray: rgba(128, 128, 128, 0.2);
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: left;
    background-color: var(--white);
}

@font-face {
    font-family: "SignikaNegative";
    src: url("/public/assets/fonts/SignikaNegative-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lilita";
    src: url("/public/assets/fonts/LilitaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Racing";
    src: url("/public/assets/fonts/RacingSansOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

section{
    padding-top: 10vh !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.nav-link{
    font-weight: bold;
    color: var(--dark-blue);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--dark-blue);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline: var(--dark-blue) !important;
}

.nav-link:focus{
    color: var(--dark-blue);
}

.navbar{
    height: 9vh;
}

.navbar-nav .nav-link.active{
    color: white !important;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.scrolled .nav-link, .show .nav-link{
    color: var(--bs-blue);
}

.scrolled .nav-link:hover:not(.active), .show .nav-link:hover:not(.active){
    color: var(--bs-blue) !important;
    text-underline: var(--bs-blue) !important;
}

.scrolled .nav-link:focus, .show .nav-link:focus{
    color: var(--bs-blue);
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    color: var(--dark-blue);
}

.text-purple {
    color: var(--bs-purple);
}

.gradient {
    background: linear-gradient(90deg, var(--bs-blue), var(--bs-purple), var(--bs-pink));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* NAVBAR */

.logo{
    height: 30px;
    width: 30px;
}

.offcanvas{
    background-color: var(--dark-blue);
    color: var(--white);
}

.navbar-brand, .nav-link {
    text-transform: uppercase;
    text-align: center;
}

.navbar-toggler, .offcanvas-header .btn-close {
    border: unset !important;
    box-shadow: none;
}

.navbar-toggler:focus, .offcanvas-header .btn-close:focus{
    box-shadow: none;
}

.fa-bars{
    color: white;
}

nav {
    transition: background-color 0.5s ease;
}

nav.scrolled {
    background-color: var(--dark-blue);
    color: var(--bs-purple) !important;
}

/* BANNER */

.hero-img {
    background-image:
        url("/public/assets/images/hero-img.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    text-shadow:
    -1px 0 0 white,
    0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 0 rgba(0, 0, 0, 0.3),
    0 3px 0 rgba(0, 0, 0, 0.3),

    2px 5px 5px rgba(0, 0, 0, 0.9),
    5px 5px 5px rgba(0, 0, 0, 0.3),
    8px 7px 8px rgba(0, 0, 0, 0.5);
}

.hero-img h1, .hero-img p{
    color: #d6d6d6;
}

.mirror{
    color: #d6d6d6;

    font-family: "Racing", sans-serif;
    white-space: pre;
}

.text-mirror{
    transform: translateY(1.5rem) rotateX(190deg);
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

/* INTRODUCTION SECTION */

#about, .footer-dark{
    background-color: var(--dark-blue);
    color: var(--white);
}

#about img {
    width: 240px;
    height: 240px;
}

.text-ikigai {
    color: var(--bs-pink);
}

/* PROJECTS SECTION */
.cards-container{
    grid-template-columns: repeat(1, minmax(0px, 1fr));
}

.flip-card {
    background-color: var(--white);
    border: solid 1px var(--gray);
    perspective: 1000px; /* Creates the 3D effect */
}

.flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 200px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* Hides the back side of the card */
.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--white);
}

.flip-card:hover {
    filter: drop-shadow(0 0 0.5em var(--dark-blue));
}

.flip-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border: var(--gray) 1px solid;
}

.stack-container{
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.stack-container::-webkit-scrollbar {
    display: none;
}

.stack-button{
    background-color: var(--bs-purple);
    font-size: 0.65rem;
    white-space: nowrap;
}

.project-link, .fa-arrow-up-right-from-square{
    color: var(--bs-pink);
}

/* CONTACT */
.section-divider{
    width: 50%;
    margin: auto;
    background-color: var(--bs-blue);
    height: 4px;
}

.contact-intro {
    max-width: 500px;
    margin: auto;
    opacity: 0.9;
    font-size: 1.2rem;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.contact-item {
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.contact-item:hover {
    transform: scale(120%);
}

.social-icon{
    width: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    section{
        padding: 2rem;
    }
    .cards-container{
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-gap: 2rem;
    }
}

@media (min-width: 768px) {
    section{
        padding: 3rem 5rem;
    }
}

@media (min-width: 992px) {

    section{
        padding: 3rem 10vw;
    }

    .mirror{
        font-size: 3.2em !important;
    }

    .text-mirror{
        transform: translateY(3rem) rotateX(190deg);
    }

    .cards-container{
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
}
